.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.employeeTable {
  width: 100%;
  border-collapse: collapse;
}

.employeeTable th,
.employeeTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employeeTable th {
  background-color: #f2f2f2;
}

.employeeTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employeeTable tbody tr:hover {
  background-color: #ddd;
}