.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
}

.productTable th,
.productTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.productTable th {
  background-color: #f2f2f2;
}

.productTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.productTable tbody tr:hover {
  background-color: #ddd;
}
